<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script type="text/javascript">
	$( document ).ready(function(){
	     $( "div#md" ).hide();
	     $( "div#m" ).hide();
	    $( "div#w" ).hide();
	    $( "div#md" ).hide();
	    $( "div#wd" ).hide();
	     $( "div#ml" ).hide();
	      $( "div#wl" ).hide();
	      $( "div#mv" ).hide();
	      $( "div#wv" ).hide();
	      $( "div#wm" ).hide();
	       $( "div#mm" ).hide();
	        $( "div#b1").hide();
	         $( "div#b2").hide();
	          $( "div#b3").hide();
             $( "div#bra").hide();
	         $( "div#brb").hide();
	         $( "div#brc").hide();
	         $( "div#brd").hide();

        if ($("#1").length){
        $( "#search" ).hide();
	    };


	  $( ".hide" ).click(function(){
	    $( "div#md" ).hide();
	     $( "div#m" ).hide();
	    $( "div#w" ).hide();
	    $( "div#md" ).hide();
	    $( "div#wd" ).hide();
	     $( "div#ml" ).hide();
	      $( "div#wl" ).hide();
	      $( "div#mv" ).hide();
	      $( "div#wv" ).hide();
	      $( "div#wm" ).hide();
	       $( "div#mm" ).hide();
	       $( "div#1").hide();
            $( "div#b1").hide();
	         $( "div#b2").hide();
	          $( "div#b3").hide();
             $( "div#bra").hide();
	         $( "div#brb").hide();
	         $( "div#brc").hide();
	         $( "div#brd").hide();
	         $( "div#search").hide();
	  });

 $( ".hidebl" ).click(function(){
            $( "div#b1").hide();
	         $( "div#b2").hide();
	          $( "div#b3").hide();
	  });

$( ".hidesearch" ).click(function(){
            $( "div#search").hide();

	  });

	  $( ".showm" ).click(function(){
	    $( "div#m" ).show();
	  });
	  $( ".showw" ).click(function(){
	    $( "div#w" ).show();
	  });
	  $( ".showmd" ).click(function(){
	    $( "div#md" ).show();
	  });
	  $( ".showwd" ).click(function(){
	    $( "div#wd" ).show();
	  });
	   $( ".showwl" ).click(function(){
	    $( "div#wl" ).show();
	  });
	   $( ".showml" ).click(function(){
	    $( "div#ml" ).show();
	  });
	   $( ".showwv" ).click(function(){
	    $( "div#wv" ).show();
	  });
	   $( ".showmv" ).click(function(){
	    $( "div#mv" ).show();
	  });
	   $( ".showwm" ).click(function(){
	    $( "div#wm" ).show();
	  });
	   $( ".showmm" ).click(function(){
	    $( "div#mm" ).show();
	  });
	   $( ".showbra" ).click(function(){
	    $( "div#bra" ).show();
	  });
	   $( ".showbrb" ).click(function(){
	    $( "div#brb" ).show();
	  });
	   $( ".showbrc" ).click(function(){
	    $( "div#brc" ).show();
	  });
	   $( ".showbrd" ).click(function(){
	    $( "div#brd" ).show();
	  });
	  $( ".showsearch" ).click(function(){
	    $( "div#search" ).show();
	  });
      $( ".showall" ).click(function(){
           $( "div#m" ).show();
	       $( "div#w" ).show();
	      $( "div#md" ).show();
	      $( "div#wd" ).show();
	      $( "div#ml" ).show();
	      $( "div#wl" ).show();
	      $( "div#mv" ).show();
	      $( "div#wv" ).show();
	      $( "div#wm" ).show();
	      $( "div#mm" ).show();
	      $( "div#bra").show();
	      $( "div#brb").show();
	      $( "div#brc").show();
	      $( "div#brd").show();
	  });
	  $( ".showb1" ).click(function(){
	    $( "div#b1" ).show();
	  });
	  $( ".showb2" ).click(function(){
	    $( "div#b2" ).show();
	  });
	  $( ".showb3" ).click(function(){
	    $( "div#b3" ).show();
	  });
      $( ".show1" ).click(function(){
	    $( "div#1" ).show();
	  });
	});

		</script>



<headers th:insert="blocks/header :: header"></headers>

<div class="">
  <div class="topmenu">
    <div class="">
    <a href="#" class="hide showm showb1 tl"><b>Запчасти Б/У</b><i class="fa fa-angle-down"></i></a>
    <a href="#" class="hide showw showb2 tl"><b>Запчасти</b><i class="fa fa-angle-down"></i></a>
    <a href="#" class="hidebl showb3 tl"><b>Бренд</b><i class="fa fa-angle-down"></i></a>
    <a href="#" class="hide showall tl"><b>Все</b><i class="fa fa-angle-down"></i></a>
    </div>
    <div id="b1">
      <a href="#" class="hide showmd tl"><i>Диски</i></a>
      <a href="#" class="hide showml tl"><i>Шины</i></a>
      <a href="#" class="hide showmv tl"><i>Аккумуляторы</i></a>
      <a href="#" class="hide showmm tl"><i>Запчасти для ТО</i></a>
    </div>
    <div id="b2">
        <a href="#" class="hide showwd tl"><i>Диски</i></a>
        <a href="#" class="hide showwl tl"><i>Шины</i></a>
        <a href="#" class="hide showwv tl"><i>Аккумуляторы</i></a>
        <a href="#" class="hide showwm tl"><i>Запчасти для ТО</i></a>

     </div>
     <div id="b3">
        <a href="#" class="hide showbra tl"><i>Ad</i></a>
        <a href="#" class="hide showbrb tl"><i>Gore</i></a>
        <a href="#" class="hide showbrc tl"><i>Look</i></a>
        <a href="#" class="hide showbrd tl"><i>Star</i></a>
     </div>
  </div>
  </div>

<style>
  .tl{
  padding:0 25px;
  color:black;
  text-transform: uppercase;
  -webkit-text-stroke-width: thin;
  }
</style>

<div th:if="${find}==null" id="1" style="margin-top:100px">
  <img class="imgc" style = "width:15%" src="https://image.flaticon.com/icons/png/512/25/25366.png">
<br><p class="kt">Выберите каталог</p>
</div>



<div id="search">
  <h1 th:if="${find}!=null" th:text="'Поиск:'+${find}" style="text-align:center"></h1>
  <div id = "na" class=""> <h1 style="text-align:center"></h1>
    <div th:each="el : ${products}" th:if="${#strings.contains({el.name},{find})}==true" class=""> <div class="card">
      <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
      <h5 class="card-title" th:text="${el.name}"/>
      <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
      <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
      <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
      <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
    </div></div> </div> </div> </div> </div>

  <div id = "pr" class=""> <h1 style="text-align:center"></h1>
    <div th:each="el : ${products}" th:if="${#strings.contains({el.price},{find})}==true" class=""> <div class="card">
      <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
      <h5 class="card-title" th:text="${el.name}"/>
      <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
      <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
      <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
      <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
    </div></div> </div> </div> </div> </div>

  <div id = "br" class=""> <h1 style="text-align:center"></h1>
    <div th:each="el : ${products}" th:if="${#strings.contains({el.tegb},{find})}==true" class=""> <div class="card">
      <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
      <h5 class="card-title" th:text="${el.name}"/>
      <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
      <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
      <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
      <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
    </div></div> </div> </div> </div> </div>
  

  <div id = "ab" class=""> <h1 style="text-align:center"></h1>
    <div th:each="el : ${products}" th:if="${#strings.contains({el.about},{find})}==true" class=""> <div class="card">
      <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
      <h5 class="card-title" th:text="${el.name}"/>
      <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
      <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
      <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
      <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
    </div></div> </div> </div> </div> </div>

  <div id = "ab2" class=""> <h1 style="text-align:center"></h1>
    <div th:each="el : ${products}" th:if="${#strings.contains({el.opisanie},{find})}==true" class=""> <div class="card">
      <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
      <h5 class="card-title" th:text="${el.name}"/>
      <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
      <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
      <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
      <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
    </div></div> </div> </div> </div> </div>

</div>

<div id = "m" class=""> <h1 style="text-align:center">Б/У запчасти</h1>
  <div th:each="el : ${products}" th:if="${el.tegg}==man" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "w" class=""> <h1 style="text-align:center">Запчасти</h1>
  <div th:each="el : ${products}" th:if="${el.tegg}==wman" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "wd" class=""> <br><h1 style="text-align:center">Диски</h1>
  <div th:each="el : ${products}" th:if="${el.teg}==d and ${el.tegg}==wman" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "md" class=""><br><h1 style="text-align:center">Б/У диски</h1>
  <div th:each="el : ${products}" th:if="${el.teg}==d and ${el.tegg}==man" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "wl" class=""> <br><h1 style="text-align:center">Шины</h1>
  <div th:each="el : ${products}" th:if="${el.teg}==l and ${el.tegg}==wman" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "ml" class=""><br><h1 style="text-align:center">Б/У шины</h1>
  <div th:each="el : ${products}" th:if="${el.teg}==l and ${el.tegg}==man" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "wv" class=""> <br><h1 style="text-align:center">Аккумуляторы</h1>
  <div th:each="el : ${products}" th:if="${el.teg}==v and ${el.tegg}==wman" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "mv" class=""><br><h1 style="text-align:center">Б/У аккумуляторы</h1>
  <div th:each="el : ${products}" th:if="${el.teg}==v and ${el.tegg}==man" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "wm" class=""> <br><h1 style="text-align:center">Запчасти для ТО</h1>
  <div th:each="el : ${products}" th:if="${el.teg}==m and ${el.tegg}==wman" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "mm" class=""><br><h1 style="text-align:center">Б/У запчасти для ТО</h1>
  <div th:each="el : ${products}" th:if="${el.teg}==m and ${el.tegg}==man" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "bra" class=""> <h1 style="text-align:center">Ad</h1>
  <div th:each="el : ${products}" th:if="${el.tegb}==Adore" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "brb" class=""> <h1 style="text-align:center">Gore</h1>
  <div th:each="el : ${products}" th:if="${el.tegb}==Baldi" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "brc" class=""> <h1 style="text-align:center">Look</h1>
  <div th:each="el : ${products}" th:if="${el.tegb}==Cactus" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<div id = "brd" class=""> <h1 style="text-align:center">Star</h1>
  <div th:each="el : ${products}" th:if="${el.tegb}==Daigo" class=""> <div class="card">
    <img class="card-img-left" style = "width:15%" th:src="${el.img}"  alt="Card image cap"><div class="card-body"> <div class ="btnl">
    <h5 class="card-title" th:text="${el.name}"/>
    <p class="card-text" th:text="${el.about}"/> </div> <div class="pb btnr">
    <b><p class="text-muted" style="font-size:30pt" th:text="${#numbers.formatDecimal({el.price}, 0, 'WHITESPACE', 2, 'POINT')} +' руб.'"></p></b><div class="btn-group" style="">
    <a th:href="'/index/'+${el.id}" class="btn btn-sm btn-outline-secondary blok good1">Подробнее</a>
    <button type="button" class="btn btn-sm btn-outline-secondary blok good1 msg">В корзину</button>
  </div></div> </div> </div> </div> </div>

<script>
 $( ".msg" ).click(function(){
	   alert('Войдите в аккаунт');
	  });
</script>


<style>
.imgc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.blok {
    background: #ff0000;
}
.btnr{
float:right;
text-align:center;
padding: 10px 0;
}
.btnl{
float:left;
width:55%;
}
.pb{
width:40%;
height:100%;
margin-top: 5%;;
}
.card{
width:100%;
max-width: 800px;
max-height: 250px;
margin-left:auto;
margin-right:auto;
flex-direction:unset;
overflow: hidden;
margin-bottom:10px;

position: relative;
display: flex;
min-width: 50%;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 2px solid rgba(0,0,0,.125);
border-radius: 2rem;
}
.card-text{
    height: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-body{
float:right;
margin-right: auto;
margin-left:auto;
width:50%;
}
.cf{
width:60%;
height:300px;
}
.clp{
width:100%;
height:300px;
margin-left: auto;
margin-right: auto;
}
.cp{
width:40%;
float:left;
padding:0px;
margin-left: auto;
margin-right: auto;

}
.cpt{
text-align:center;
width: 100%;
height:450px;
margin-left: auto;
margin-right: auto;
}
.floated {
   float:left;
   margin-right:5px;
}
.cpbl{
width:45%;
margin-left:0;
margin-right: auto;
}
.cpbr{
width:20%
margin-right:0;
margin-left:auto;
}
.justify-content-center {
    justify-content: center!important;
}

.kt{
font-size:120pt;
text-align:center;
}

.scd{
    width: 50%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);

}
a:hover {
    color:  #880e4f;
    cursor: pointer;
    text-decoration: none;
}
a {
    color: black;
    text-decoration: none;
}

a:-webkit-any-link{

}

body {margin:0;}
h2 {
  font-family: monospace;
  color: #00000000;
}
nav {
  width: 660px;
  margin: 0 auto 30px;
}
ul {
  list-style: none;
  margin-left: auto;
  padding: 0 ;
}
 .topmenu {
 text-align: center;
 }
.topmenu > li {
  display: inline-block;
  margin: 0;
  padding: 15px;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 0px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

}
.one ul {
  background: 00000000;
}
.one ul a {
  color: #695753;
}
.one .submenu {
  display: none;
  background: 00000000;

}
.one ul li:hover .submenu {
  display: block;


}
</style>


<style>


</style>

</body>
</html>